[Desktop Entry]
Type=Application
Name=Dino
Icon=harbour-dinorunner
Exec=harbour-dinorunner

[X-Sailjail]
Sandboxing=Enabled
Permissions=WebView
OrganizationName=openrepos.net
ApplicationName=Dino
